#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12rem 2rem;
}

.app {
  font-size: 190%;
  font-weight: 700;
}

.code-help {
    font-size: 1.2rem;
    color: #878787
}

.container {
    margin-bottom: 4rem;
}

.intro-text {
    padding-left: 4%;
}

/*  Common */
.section-container {
    margin-bottom: 9%;
    padding-left: 4%;
}

.section-container:last-child {
  margin-bottom: 0;
}

.section-date {
    margin: 0;
    font-size: 1.2rem;
}

.section-description {
    margin-top: 0;
    margin-bottom: 0;
}

/* Projects */
.project-description {
    margin-bottom: 0;
}